<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateflipview</key>
	<true/>
	<key>shouldShowUnreadOnly</key>
	<false/>
	<key>sortingbyreadingfrequency</key>
	<true/>
	<key>showrecommendations</key>
	<false/>
	<key>feedsinmostread</key>
	<integer>10</integer>
	<key>autoclearcache</key>
	<true/>
	<key>backgroundimagename</key>
	<string>background1.jpg</string>
	<key>rememberMyChoice</key>
	<true/>
	<key>swipeLeftAction</key>
	<string>NOTIFICATION_MARKITEMASUNREAD</string>
	<key>swipeRightAction</key>
	<string>NOTIFICATION_MARKITEMASREAD</string>
	<key>autorotateimage</key>
	<true/>
</dict>
</plist>
