<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>title_accounts</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>google</string>
				<key>name</key>
				<string>title_google</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>socialaccounts</string>
				<key>name</key>
				<string>title_otheraccounts</string>
				<key>type</key>
				<string>more</string>
				<key>next</key>
				<string>BRSocialAccountsSettingController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>title_appearence</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>null</string>
				<key>name</key>
				<string>title_changebackground</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>backgroundImage</string>
				<key>type</key>
				<string>custom</string>
				<key>customViewClass</key>
				<string>BRChooseBackgroundImage</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>animateflipview</string>
				<key>name</key>
				<string>title_flipthumbnail</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>sortingbyreadingfrequency</string>
				<key>name</key>
				<string>title_sortfeedbyreadingfrequency</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>showrecommendations</string>
				<key>name</key>
				<string>title_showrecommendation</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>feedsinmostread</string>
				<key>name</key>
				<string>title_feedsinmostread</string>
				<key>type</key>
				<string>pick</string>
				<key>values</key>
				<array>
					<string>10</string>
					<string>15</string>
					<string>20</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>title_cache</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>autocleancache</string>
				<key>name</key>
				<string>title_autocleancache</string>
				<key>type</key>
				<string>switch</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
