<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string></string>
		<key>footertext</key>
		<string>message_accountsectionfootertext</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>google</string>
				<key>name</key>
				<string>title_google</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
				<key>editable</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>weibo</string>
				<key>name</key>
				<string>Weibo</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
				<key>editable</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>instapaper</string>
				<key>name</key>
				<string>Instapaper</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
				<key>editable</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>readitlater</string>
				<key>name</key>
				<string>Read It Later</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
				<key>editable</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>evernote</string>
				<key>name</key>
				<string>Evernote</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
				<key>editable</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>twitter</string>
				<key>name</key>
				<string>Twitter</string>
				<key>type</key>
				<string>switch</string>
				<key>defaultValue</key>
				<false/>
				<key>editable</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
